@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(30, 15, 71);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.container {
  background: rgb(38, 64, 138);
  color: #fff;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
}
.heading {
  font-size: 2.5rem;
}
.result {
  width: 100%;
  background: #fff;
  height: 50px;
  margin: 20px auto;
  word-wrap: break-word;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 4px;
}
.input-box {
  display: flex;
}
input {
  margin: auto;
}
.form {
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
  gap: 1rem;
}
.ammount-in-number {
  width: 2.5rem;
  outline: none;
  text-align: center;
}
.password-generator-btn {
  grid-column: span 2;
  padding: 0.7rem;
  border-radius: 30px;
  background: #ffffff33;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
}
.password-generator-btn:active {
  transform: scale(0.98);
}
